.content-img {
  width: 50%;
  padding: 40px;
  border-right: 1px solid black;
}

.img-man {
  width: 103%;
}

.text-bienvenido {
  font-weight: 700;
  margin-right: 2%;
}

.text {
  width: 100%;
}

.text-lorem {
  font-size: 30px;
}

.contet-text {
  width: 50%;
  padding: 40px;
}

.icon {
  margin-top: 18%;
}